<a href="https://colab.research.google.com/github/hatchdavid1/r-course/blob/master/Python_Notes_for_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
###### Python Datos categ√≥ricos
# Codificar datos categoricos 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('https://raw.githubusercontent.com/joanby/machinelearning-az/master/datasets/Part%201%20-%20Data%20Preprocessing/Section%202%20--------------------%20Part%201%20-%20Data%20Preprocessing%20--------------------/Data.csv')

In [6]:
labelencoder_x = LabelEncoder()
df['New_country'] = labelencoder_x.fit_transform(df.Country)
df.head()

   Country   Age   Salary Purchased  New_country
0   France  44.0  72000.0        No            0
1    Spain  27.0  48000.0       Yes            2
2  Germany  30.0  54000.0        No            1
3    Spain  38.0  61000.0        No            2
4  Germany  40.0      NaN       Yes            1

In [4]:
### One hot encoding
from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder().fit_transform(df).toarray()

In [ ]:
#### codigo en R
# datase$Country = factor(dataset$Country, levels = c('France', 'Spain', 'Germany'), labels = c(1,2,3))
#dataset$Purchases = factor(dataset$Purchases, levels = c('No', 'Yes). labels = c(1,0))